/***
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
***/
/* 320px — 480px: Mobile devices */
@media only screen and (min-width:320px) and (max-width:480px){
    .banner-text h1 {
        font-size: 30px;
    }
    .banner-text {
        padding: 100px 0;
    }
    .banner-text p{
        width: auto;
    }
    .banner-btn {
        padding: 10px 15px;
        font-size: 12px;
    }
    #quote h3 {
        font-size: 20px;
        width: 60%;
    }
    .quote-btn{
        font-size: 15px;
    }
    h2{
        font-size: 30px;
    }
    .services-area p {
        margin-bottom: 20px;
    }
    .lil-des{
        max-width: 90%;
        margin: auto;
        font-size: 15px;
    }
    .all-works-list .s-list{
        padding: 3px 2px;
    }
    .work-images img{
        width: 80%;
        height: 320px;
        margin: 0;
        margin-bottom: 10px;
    }

}
/* 481px — 768px: iPads, Tablets */
@media only screen and (min-width:481px) and (max-width:768px){
    #quote h3 {
        font-size: 20px;
    }
    .quote-btn{
        font-size: 14px;
        padding: 5px 8px
    }
    .banner-text p {
        width: 80%;
    }
    .qc{
        width: 640px;
    }
    .lil-des{
        width: 90%;
    }
    .work-images img{
        width: 348px;
        height: 229px;
        margin: 20px;
        margin-bottom: 0;
    }
    .fil{
        margin-bottom: 30px;
    }
    .la{
        margin: auto;
    }
}
