@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;700&display=swap');
/* Initial setup */
*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
section::after{
    content:"";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}
:focus{
    outline:0;
}
/* Header */
#topbar{
    background-color: #F5F5F5;
}
#topbar span a{
    color:#8A8A8A;
    font-size:14px;
}
span.tmail{
    margin-right: 30px;
}
.far,.fas{
    font-size: 20px;
    
}
/* Navbar */
.navbar-brand{
    float: left;
    height: 70px;
}
header{
    overflow: hidden;
}
/* Banner */
#banner-area{
    background: linear-gradient(#0e0e0e8c,#232222c7), url(images/architect.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}
.banner-text{
    padding:200px 0;
}
.banner-text h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.banner-text p{
    font-size: 16px;

}
.banner-text h1{
    color: #fff;
}
.banner-text p{
    color: #fff;
}
.banner-btn{
    background-color:#FAB802;
    padding: 15px 20px;
    border: none;
}
/*  */
#quote{
    background-color: #FAB802;
    padding: 20px 0;
}
#quote h3{
    color:#fff;
}
#quote h3 span a{
    color:#000;
    text-decoration: underline;
}
.quote-btn{
    background-color: #fff;
    border: 1px solid #FAB802;
    padding:10px 20px;
}
/* Services */
.services-area{
    text-align: center;
    padding: 100px 0;
}
.service-card{
    padding-top:50px ;
}
.services-area p{
    max-width: 600px;
    margin: auto;
    margin-bottom: 40px;
}
.card{
    border: none;
    text-align: left  !important;
    overflow: hidden;
}
.card-img-top{
    height: 200px;
    cursor: pointer;
    
}
.card-img-top:hover{
    transform: scale(1.1);
    transition: .8s;
}
.card-body{
    padding:20px 0;
}
.read-more{
    text-transform: uppercase;
    color: #000;
    margin-top: 30px;
}
.read-more:hover{
    color:rgb(253, 166, 4);
    text-decoration: underline;
    transition: .5s;
}
.card-title{
    font-weight: 700;
    text-transform: uppercase;
}
.card p{
    margin-bottom: 20px;
}
/* Discuss */
#discuss-s{
    background:radial-gradient(#383434e0,#3c3c3ab8), url(images/two-colleagues-factory.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}
.general{
    margin-bottom: 50px;
}
.general img{
    margin-right: 30px;
    width: 80px;
}
.general h3{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.general p{
    color: #fff;
}
.blt{
    border-left: 1px solid grey;
}
/* Featured works */
.s-list{
    cursor: pointer;
}
.featured-works{
    padding: 100px 0;
    text-align: center;
}
.featured-works h2{
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.all-works-list .s-list{
    background: #c8c8c8;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}
.work-images{
    display: flex;
    flex-wrap: wrap;
    margin:50px auto;
}
.work-images img{
    width:410px;
    height: 320px;
    margin:30px;
    margin-bottom: 0;
}
.work-images img:last-child{
    margin-right: 0;
}
/* Customer feedback */
.c-feedback{
    text-align: center;
}
.single-item{
    background: #F8F8F8;
    overflow: hidden;
}
.single-item p{
    text-align: left;
    margin-top: 20px;
}
.single-item h5{
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.owl-carousel .owl-item img{
    width:150px;
    height: 130px;
    float: left;
    margin-right: 20px;
}
.owl-carousel{
    padding: 40px 0;
}
.owl-dot span{
    background: #8A8A8A !important;
}
/* Counter  */
#num-scroll-count{
    background: linear-gradient(#1d1a1ac9,#1e1f1feb),url(images/construction-4606112_1920.jpg);
    text-align: center;
    padding: 60px 0;
}
.single-count label{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;

}
.single-count span{
    color: #fff;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
/* call for action */
#call-for-action{
    background: #F8F8F8;
    padding: 50px 0;
}
.action{
    background: #fff;
    border-left: 5px solid #FAB802;
    padding: 30px 20px;
}
.action h3{
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    width: 80%;
}
.action p{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}
.action a{
    background: #FAB802;
    color: #fff;
    text-transform: capitalize;
    padding:15px 20px;
}
/* Blog section */
.blog-area{
    padding: 50px 0;
}
.blog-area span{
    font-size: 14px;
   line-height: 2.2;
   font-weight: 600;
}
.blog-start{
    text-align: center;
}
/* Footer area */
#footer {
    background: #242C39;
    color: #fff;
}
#footer li{
    font-size: 14px;
}
#footer p{
    font-size: 14px;
}


